.main {
    padding: 10px;
    /* overflow-y: scroll; */
    border-radius: 1rem;
    border-color: --var(--text-var);
    border-width: 0.5px;
    border-style: solid;
    /* opacity */
    display: flex;
    flex-direction: column;
}

.main::-webkit-scrollbar {
    width: 0.25rem;
}

.main::-webkit-scrollbar-track {
    display: none;
    background: --var(--text-var);
}

.main::-webkit-scrollbar-thumb {
    display: none;
    background: #f7f7f7;
    border-radius: 2rem;
}

.form {
    /* height: 10vh; */
    position: relative;
    bottom: 0;
    /* background-color: rgb(24, 23, 23); */
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
}


.inp {
    line-height: 1.5;
    width: 90%;
    font-size: 1rem;
    /* background: rgb(58, 58, 58); */
    color: black;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: .75rem;
    background: #ffffff !important;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.para {
    max-width: 500px;
    line-height: 24px;
    padding: 10px 10px;
    border-radius: 25px;
    position: relative;
    /* color: white; */

}

.message {
    display: flex;
    /* align-items: center; */
}

.sent {
    flex-direction: row-reverse;
}

.profphoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}