@media screen and (max-width: 1565px) {
    .body {
        font-weight: 400;
    }

    .mainc {
        margin-left: 50px;
        margin-right: 50px;
    }

    .navx {
        padding-left: 500px;
        padding-right: 50px;
    }

    .heading {
        font-size: 4.5rem !important;
    }

}

@media screen and (max-width: 768px) {
    .body {
        font-weight: 400;
    }

    .mainc {
        margin-left: 0px;
        margin-right: 0px;
    }

    .heading {
        font-size: 3.5rem !important;
    }
}

@media screen and (max-width: 480px) {
    .body {
        font-weight: 400;
    }

    .mainc {
        margin-left: -15px;
        margin-right: -15px;
    }

    .heading {
        font-size: 3.5rem !important;
    }
}

.heading {
    font-size: 5.5rem;
}