@media (prefers-color-scheme: light) {
    :root {
        color-scheme: dark;
        --hue-color: 243;
        --body-bg: #FFFFFF;
        --body-color: #0d1117;
        --head-text-color: #6c63ff;
        --card--bg: #FFFFFF;
        --card--text: #888888;
        --card--head: #0d1117;
        --dash--bg: #fff;
        --foot-text-color: black;
        --scroll-bar-color: hsl(var(--hue-color), 12%, 100%);
        --scroll-thumb-color: hsl(var(--hue-color), 12%, 90%);
    }

    .prbt {
        background-color: #fff;
        border-color: #6c63ff;
        color: black;
    }

    .prbt:hover {
        background-color: #6c63ff;
        border-color: #6c63ff;
        color: white;
    }
}


/* Dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --hue-color: 243;
        --body-bg: #0d1117;
        --body-color: #FFFFFF;
        --head-text-color: #ffffff;
        --card--bg: #0d1117;
        --card--text: #FFFFFF;
        --card--head: #FFFFFF;
        --dash--bg: #0d1117;
        --foot-text-color: #ffffff;
        --scroll-bar-color: #0d1117;
        --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    }

    .cdin {
        text-decoration-color: white;
    }

    .navx {
        color: #fff;
    }

    .prbt {
        background-color: #1a1a1a;
        border-color: #6c63ff;
        color: white;
    }

    .prbt:hover {
        background-color: #6c63ff;
        border-color: #6c63ff;
        color: white;
    }

    srch {
        background-color: #1a1a1a;
        color: white;
    }
}

.cdx {
    background-color: var(--card--bg);
    color: var(--card--text);
}

.cdt {
    color: var(--card--head);
}

.head {
    color: var(--head-text-color);
}

.cdin {
    background-color: var(--dash--bg);
}

.foot {
    color: var(--foot-text-color);
}

.cdb {
    background-color: var(--body-bg);
    color: var(--body-color);
}

body {
    background: var(--body-bg);
    color: var(--body-color);
}

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}